* {
  margin: 0;

  padding: 0;
}
body {
  color: black;
  font-family: "Inter", sans-serif;
}
Header {
  display: flex;
  flex-direction: column;
}
img {
  width: 20px;
}

/* seachbar, logo, buttons */

.nav {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.nav-link {
  min-width: max-content;
}

/* .nav > * {
  min-width: max-content;
} */
.nav-logo {
  width: 7rem;
}

input {
  margin-left: 5%;
  border-radius: 2rem;
  width: 30%;
  height: 2.5rem;
  background-color: #ededf0;
  outline: none;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  background-image: url("./images/search.svg");
  background-repeat: no-repeat;
  background-position: 0.5rem;
  padding-left: 2.5rem;
}

.button {
  background-color: #ffffff;
  border: 1px solid #2979ff;
  color: rgb(41, 121, 255);
  font-weight: bold;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
  padding: 0.3rem 1rem;
}

/* buttons */
.signin {
  margin-left: auto;
  position: relative;
  left: 1rem;
}

.mycart {
  border: none;
  box-shadow: rgba(41, 120, 255, 0.288) 0px 5px 10px 0px;
}

.profile {
  height: 2rem;
  width: auto;
  border-radius: 2rem;
}

/* the small icons and text underneath */

.categories {
  margin: 0.7rem 0;
  display: flex;
  flex-direction: row;
  padding: 0 15rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf2ff;
  color: #2979ff;
  text-align: center;
  padding: 0.5rem 1rem;
  gap: 0.2rem;
  border-radius: 0.8rem;
  justify-content: end;
}

.category > img {
  height: 0.7rem;
  max-width: auto;
  object-fit: contain;
  filter: brightness(1) saturate(0);
}
.category-name {
  font-size: 0.6rem;
  min-width: max-content;
}

/* span blue */
span {
  color: #2979ff;
}

.container {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  padding: 0 15rem;
  margin-top: 1rem;
}

/* Left Container */
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Departments {
  padding: 0.5rem 2.2rem;
  font-size: 1rem;
}
.Departments > img {
  margin-right: 1rem;
  position: relative;
  right: 1.3rem;
  height: 0.6rem;
  width: auto;
  bottom: 0.1rem;
}

/* lists */

li {
  position: relative;
  left: 1rem;
  list-style: none;
  margin: 1rem 0;
}

ul {
  margin: 0.5rem 0;
}

/* dropdown */

li > button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  outline: none;
  display: flex;
  flex-direction: column;
}

li::before {
  content: url("./images/off.png");
  font-size: 1rem;
  display: inline-block;
  height: 0.2rem;
  position: absolute;
  top: 0rem;
  left: -1rem;
  transition: all 0.3s ease-in-out;
}

/* description */
p {
  font-size: 0.7rem;
  color: grey;
}

.dropdown {
  display: block;
}

.arrow {
  position: relative;
  right: 1.5rem;
  bottom: 2rem;
}
